* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Merriweather", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-black);
  --primary-color: rgb(207, 24, 24);
  --background-black: rgb(27, 27, 27);
  --text-white: rgb(237, 229, 229);
  --food-red: rgb(226, 152, 152);
  --background-grey: rgb(51, 52, 54);
}

/*NAVIGATION*/

header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 2;
  background-color: var(--background-black);
}

.nav,
.copyright {
  width: 90%;
  height: 3rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
  text-align: center;
}

.nav-item {
  color: var(--text-white);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.7rem;
  transition: all 0.2s ease-in-out;
}

.nav-item:hover {
  color: var(--primary-color);
}

/*HERO SECTION*/

#hero {
  background: url("./images/pizzas.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: black;
  opacity: 0.7;
}

.title {
  font-family: Niconne, sans-serif;
  font-size: 3rem;
  color: white;
  line-height: 3rem; /*Kopiert von der Lösung*/
}

#hero p {
  color: var(--text-white);
  font-size: 14px;
  margin-top: 1rem;
  max-width: 95%;
}

#hero *:not(.overlay) {
  z-index: 2;
}

.button {
  padding: 0.8rem;
  background-color: var(--primary-color);
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-size: 12px;
  border: 1px solid var(--primary-color);
  /*transition: background-color 0.3s, color 0.3s; ursprünglich verwendet, auch im hover*/
  transition: all 0.3s ease-in-out;
  display: inline-block;
}

.hero-button {
  margin-top: 3rem;
}

.button:hover {
  background-color: transparent;
  color: var(--primary-color);
  /*transition: background-color 0.3s, color 0.3s;*/
}

/*ÜBER UNS*/

.section-wrap {
  width: 100%;
  height: 100%;
  padding: 1.4rem;
}

.section-title {
  text-transform: uppercase;
  color: white;
  text-decoration: underline var(--primary-color);
  text-underline-offset: 0.3rem;
  margin-bottom: 1rem;
}

.info-about {
  margin-bottom: 1.2rem;
}

.paragraph {
  color: var(--text-white);
  font-size: 12px;
  margin: 1rem 0;
  font-weight: 300;
}

.text {
  color: var(--text-white);
  font-size: 12px;
  font-weight: 300;
}

.img-container {
  display: grid;
  gap: 0.4rem;
  height: 50%;
  grid-template-columns: 1fr 1fr;
}

.img-container img {
  height: 100%;
  width: 100%;
}

.tall-photo {
  grid-row: 1 / span 2;
}

/*SPEISEKARTE*/

.menu-wrap {
  background-color: var(--background-grey);
}

.menu {
  height: 80vh;
  overflow: scroll;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(images/pizza-menu.jpg) no-repeat center;
  background-size: cover;
}

.menu-buttons {
  height: 2.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--background-black);
}

.category {
  margin: 1rem 0.5rem;
  scroll-margin-top: 50px;
}

.category ul {
  list-style: inside;
}
.category .food-item::marker {
  color: var(--food-red);
}

.food-item {
  margin: 0.25rem 0;
}

.food-heading {
  text-transform: uppercase;
  color: var(--text-white);
  text-decoration: underline var(--text-white) dotted 1px;
  text-underline-offset: 0.2rem;
  margin-bottom: 0.5rem;
}

.food-name {
  display: inline;
  color: var(--food-red);
}

.food-description {
  font-size: 14px;
  color: var(--text-white);
  font-weight: 300;
}

/*ÖFFNUNGSZEITEN*/

#hours {
  background: url(./images/dough-making.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  padding: 1.4rem;
}

.hours-wrap {
  width: 100%;
  display: flex;
  gap: 0.1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  margin: 0 auto;
}

.hours-wrap .section-title {
  text-align: center;
}

.hours-wrap * {
  z-index: 2;
  width: 100%;
}

.hour {
  display: flex;
  justify-content: space-between;
}

.hour .text {
  margin: 0;
  flex-basis: content;
}

/*KONTAKT*/

.contact-img {
  margin-bottom: 1.4rem;
}

.contact-img img {
  width: 100%;
}

.contact-info {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: space-around;
}

.buttons {
  margin-top: 1.4rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.2rem;
}

.button-reverse {
  padding: 0.8em;
  border-radius: 5px;
  color: var(--primary-color);
  text-decoration: none;
  font-size: 12px;
  border: 1px solid var(--primary-color);
  transition: all 0.3s ease-in-out;
  display: inline-block;
}

.button-reverse:hover {
  background-color: var(--primary-color);
  color: white;
}

/*FOOTER*/

#footer {
  background-color: var(--background-grey);
}

#footer nav {
  height: fit-content;
}

.copyright {
  font-size: 10px;
  font-weight: 200;
  color: var(--text-white);
}

.nav-footer {
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

/*MEDIA QUERIES*/

@media only screen and (min-width: 600px) {
  .nav,
  .nav-footer,
  .copyright {
    gap: 2.5rem;
    height: 4rem;
  }

  .nav-item {
    font-size: 0.8rem;
  }

  .title {
    font-size: 4rem;
    line-height: 4rem;
  }

  #hero p {
    font-size: 20px;
  }

  .button {
    font-size: 14px;
    padding: 0.8em 2rem;
  }

  .section-wrap {
    padding: 2rem;
  }

  .section-title {
    font-size: 2rem;
    text-underline-offset: 0.5rem;
  }

  .info-about {
    margin-bottom: 1.5rem;
  }

  .paragraph {
    font-size: 14px;
    margin: 1.3rem 0;
  }

  .text {
    font-size: 14px;
  }

  .menu-buttons {
    height: 3rem;
  }

  .category {
    margin: 1.2rem 0.8rem;
    scroll-margin-top: 50px;
  }

  .food-item {
    margin: 0.4rem 0;
  }

  .food-heading {
    font-size: 1.3rem;
  }

  .food-name {
    font-size: 1.1rem;
  }

  .food-description {
    font-size: 1rem;
  }

  .hours-wrap {
    gap: 0.2rem;
  }

  #hours {
    padding: 2rem;
  }

  .contact-img {
    margin-bottom: 0;
    width: 60%;
  }

  .contact-wrap {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    margin: 0 auto;
  }

  .info-wrap {
    display: flex;
    margin: 0 auto;
  }

  .button-reverse {
    font-size: 14px;
    padding: 0.8em 2rem;
  }

  .nav-footer {
    flex-direction: row;
  }
}

@media only screen and (max-height: 600px) and (orientation: landscape) {
  #hero {
    height: 600px;
  }
}

@media only screen and (min-width: 1000px) {
  .nav,
  .copyright {
    gap: 3.5rem;
    height: 4.5rem;
  }

  .nav-item {
    font-size: 1rem;
  }

  .title {
    font-size: 5.5rem;
    line-height: 5.5rem;
  }

  #hero p {
    font-size: 1.8rem;
  }

  .button {
    font-size: 1rem;
  }

  .section-wrap {
    padding: 4rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    max-width: 1100px;
    margin: 0 auto;
  }

  .section-wrap > * {
    flex-basis: 50%;
  }

  .img-container {
    height: unset;
  }

  .section-title {
    font-size: 2.2rem;
    text-underline-offset: 0.7rem;
  }

  .info-about {
    margin-bottom: 0;
  }

  .paragraph {
    margin: 1.7rem 0;
    font-size: 1rem;
  }

  .text {
    font-size: 1rem;
  }

  .menu-wrap {
    display: block;
  }

  .menu-wrap .section-title {
    text-align: center;
    margin-bottom: 2rem;
  }

  .menu {
    height: 70vh;
    width: 60vw;
    margin: 1rem auto;
  }

  .menu-buttons {
    height: 4rem;
  }

  .category {
    margin: 1.5rem 1rem;
    scroll-margin-top: 70px;
  }

  .food-item {
    margin: 0.7rem 0;
  }

  .food-heading {
    font-size: 1.6rem;
  }

  .food-name {
    font-size: 1.3rem;
  }

  .food-description {
    font-size: 1.2rem;
  }

  #hours {
    padding: 4rem;
  }

  .hours-wrap {
    gap: 0.3rem;
  }

  .info-wrap {
    height: 100%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
  }

  .contact-info {
    gap: 1rem;
  }

  .buttons {
    flex-direction: row;
  }

  .button-reverse {
    font-size: 1rem;
  }
}
